* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    /* width: 100%; */
    max-width: 1200px;
    height: 100vh;;
    background-color: #ffe6e6;
    margin: auto;
    display: flex;
}

.slider{
    width: 50%;
    height: 60%;
    margin: auto;
}

.prev, .slide, .next{
    float: left;
    height: 100%;
}

.prev, .next{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev > i, .next>i{
    width: 50%;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* .next{
    justify-content: flex-end;
 } */

.slide{
    width: 90%;
    text-align: center;
}

.slide img{
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.slide img.active{
    display: inline-block;
}

.fas .fa-circle{
    width: 15px;
}

.bullets i.active{
    background-color: black;
}

.bullets i{
    cursor: pointer;
}
/* .bullets i:hover{

} */
